[submodule "st-stubs"]
	path = stubs/st-stubs
    url = git@github.com:jfcherng-sublime/ST-API-stubs.git
[submodule "stubs/LSP"]
	path = stubs/LSP
	url = https://github.com/sublimelsp/LSP
	branch = st4000-exploration
