# This is an implicit value, here for clarity
--index https://pypi.python.org/simple/

black[d]
compdb
compiledb
markdown
mypy
pymdown-extensions
python-language-server[all]
pyls-mypy
pyls-black
yamllint
